<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<h1>Orders:</h1>
<ul class="list-group">
  <li class="list-group-item active">Items:</li>
  {% for key, items in checkout.items  %}
      {% for id, user, item in items %}
      <form method="post" action="{% url 'order_status' %}">
      {% csrf_token %}
      <input type="hidden" name="food_type" value="{{ key }}">
      <input type="hidden" name="id" value="{{ id }}">
      <li class="list-group-item">{{key}}: {{item}} (ordered by: {{ user }})
        <button type="submit" name="admin_form" class="btn btn-primary">Mark complete</button>
        </li>
      </form>
    {% endfor %}
  {% endfor %}
</ul>
</div>

</body>
</html>